.add-update-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.add-update-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
.modal-container{
    width: 1050px;
    max-height: 70vh;
    padding-bottom: 20px;
}
.title-container {
    margin-bottom: 10px;
}
.add-more-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.playground-container{
    margin-bottom: 10px;
}
.component-container{
    margin: 10px 0;
}
.form-options{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-more-btn{
    margin-left: 10px;
}
.add-component-btn{
    margin: 10px 0;
}